<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Post Job</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="register">
			<h2><center><a href="http://31.220.50.163:5000/biddingsystem">Home</a></center></h2>
			<h1>Post Job    </h1>
			<form action="{{ url_for('savejob') }}" method="post" autocomplete="off" enctype="multipart/form-data">
				<label for="jobname">
					<i class="fas fa-jobname"></i>
				</label>
				<input type="text" name="jobname" placeholder="Jobname" id="jobname" required>
				<label for="jobdescription">
					<i class="fas fa-jobdescription"></i>
				</label>
				<input type="text" name="jobdescription" placeholder="Job Description" id="jobdescription" required>
				<label for="price">
					<i class="fas fa-price"></i>
				</label>
				<input type="text" name="price" placeholder="Price" id="price" required>

				<input type="file" name="file" id="file">
				<label for="Supporting Document">
					<i class="fas fa-filedata"></i>
				</label>
				<input type="hidden" name="userid" placeholder="UserId" id="userid" value="{{ userid }}">
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Submit">
			</form>
		</div>
	</body>
</html>